:root {
    --background: #f8f8f3;
    --border: #000;
    --iconBorder: #00000030;
    --fontColor: #000;
    --fontColorGray: #4A4A48;
    --linkColor: #8A05FF;
    --iconColorGray: #404040;
    --colorRed: #FF0000;
}