* {
  /* outline: 1px solid black; */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}
    
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  font-size: 16px;
}

header {
  position: relative;
  top: 2dvh;
  width: 100dvw;
  text-align: center;
}

header > h5 {
  font-size: 24px;
}

section {
  position: relative;
  top: 5dvh;
  width: 100dvw;
  margin-bottom: 5dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

input {
  outline: none;
  border: none;
}

.txts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table {
  text-align: center;
  max-width: 75px;
}

.table:placeholder-shown {
  width: 75px;
  border-bottom: 1px solid #000;
}

/* .columns, .values {
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
} */

.columns, .values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.columns > div > input {
  max-width: 88px;
  text-align: center;
  margin-inline: 5px;
}

.columns > div > input:placeholder-shown {
  width: 88px;
  border-bottom: 1px solid #000;
}

.addColumn, .removeColumn {
  padding-inline: 5px;
  border: 1px solid #00000050;
  border-radius: 5px;
  width: 19px;
}

.addColumn {
  width: unset;
  background-color: #00EE00;
}

.removeColumn {
  background-color: #EE0000;
}

.valueCount {
  text-align: center;
}

.valueCount:placeholder-shown {
  width: 16px;
  border-bottom: 1px solid #000;
}

#forCopy {
  width: 75dvw;
  overflow: scroll;
  text-wrap: nowrap;
  text-align: center;
}

.errorMessage {
  display: none;
}

.errorMessage.show {
  display: block;
}

.purple {
  color: #900090;
}

.orange {
  color: #FF5000;
  text-align: center;
}

/*

section > input:first-child {
  width: 35dvw;
  outline: none;
  border: none;
  border-bottom: 1px solid #123456;
  text-align: center;
  margin-bottom: 5px;
}

select {
  outline: none;
  font-size: 10px;
  position: relative;
  border: 1px solid gray;
  border-radius: 2.5px;
}

td > input {
  outline: none;
  font-size: 10px;
}

section > div {
  width: 60dvw;
}

#t1, #t2, #t3, #t4 {
  display: none;
}
/* table {
  border: 1px solid black;
  border-collapse: collapse;
} */
/*
svg > path{
  fill: blue;
  stroke: red;
}

img {
  fill: green;
  stroke: yellow;
}*/