@import "tailwindcss";

@theme {
    --radius-max: 100%;
    --font-textFont: "Space Grotesk", "Poppins", sans-serif;
    --color-bgColor: #F2F1F6;
    --color-componentsColor: #F8F8F3;
    --color-componentsColorClear: #FEFFFE;
    --color-componentsShadow: rgba(0, 0, 0, 0.2);
    --color-iconTextColor: #abe9cd;
    --color-textColor: #000;
    --color-navBg: rgba(255, 255, 255, 0.1);
    --color-navShadowColor: rgba(0, 0, 0, 0.05);
    --color-sideBarCover: rgba(0, 0, 0, 0.4);
    --color-sideTextColorActive: #4884CA;
    --color-borderColor: #D9D9D9;
    --color-activeBtnColor: #ffd416;
    --color-activeBtnShadowColor: rgba(255, 212, 22, 0.1);
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
    display: none;
}

.anim-size {
    interpolate-size: "allow-keywords";
}