@import "tailwindcss";

@theme {
    --font-textFont: "Space Grotesk", "Poppins", sans-serif;
    --color-bgColor: #F2F1F6;
    --color-componentsColor: #F8F8F3;
    --color-componentsColorClear: #FEFFFE;
    --color-iconTextColor: #abe9cd;
    --color-textColor: #000;
    --color-navBg: rgba(255, 255, 255, 0.1);
    --color-navShadowColor: rgba(0, 0, 0, 0.05);
    --color-sideBarCover: rgba(0, 0, 0, 0.4);
    --color-sideTextColorActive: #4884CA;
    --color-borderColor: #E6E6E6;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}